<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-config.dtd">       
<!-- mybatis-config.xml -->
<configuration>
	<typeAliases>

		
		<typeAlias type="com.korail.domain.WithBoardVO" alias="withboard" />
		<typeAlias type="com.korail.domain.WithScheVO" alias="withsche" />
		<typeAlias type="com.korail.domain.WithAskVO" alias="ask" />
		<typeAlias type="com.korail.domain.MemberVO" alias="memberVO" />
		
	</typeAliases>
</configuration>     